<h1> Welcome, <%= @user.username %>! </h1>
 
<h4> These are the items you currently have offers for: </h4>

<ul>
<% @user.offers.each do |offer| %>
    <li>
      <%= link_to offer.item.item_name, item_offers_path(offer.item) %> <%= offer.created_at.to_s(:custom_datetime) %>
      <br> --you offered: <%= num_to_currency(offer.offer_price) %> --
      <br>--list price <%=num_to_currency(offer.item.list_price)%>--
      <%= button_to "delete", offer, method: :delete %>
      <br>
    
    </li>
  <% end %>
</ul>



