<% if @offer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this from being saved:</h2>
 
    <ul>
    <% @offer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [@item, @offer], local: true do |f|%>
   
    Make an offer for: 
    
    <%=f.label :offer_price %>
    <%=f.number_field :offer_price %>

    <%= f.submit %>
    <% end %>

    

    
        
    
     