<h1><%=offers_header(@item)%></h1>
<ul>
<% @offers.each do |offer| %>
    <li>
    <%="$"%><%= offer.offer_price %><%="0"%> made on <%=offer.created_at.strftime("%b %d, %Y") %>
    </li>
   
  <% end %>
</ul>