<!DOCTYPE html>
<html>
  <head>
    <title>MovingOutV4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  
    <link rel="stylesheet" href="/styles/index.css">
  </head>

  <body>
  
  <div>
  
    <% if logged_in? %>
    <%= link_to "Logout |", logout_path, method:"delete" %>
    <%= link_to "Marketplace |", stores_path %>
    <%= link_to "My Offers", user_path(current_user) %>
    
   
    <% else %>
      <%= link_to "Sign Up", signup_path %> |
      <%= link_to "Log In", login_path %> |
      <%= link_to "Log In With Google", '/auth/google_oauth2'%>
    <% end %>
    </div>

    
  <%= yield %>
  </body>
</html>
